body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
section.ikd-cg-banner{
    background-image: linear-gradient(180deg,#ace5f8,#3e9ed8);
    background-position: center;
    height: 400px;
    background-size: cover;
    position: relative;
}
h1.banner-title{
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #242424;
    font-family: system-ui;
    margin-top: 20%;
}
.main-wrapper{
    padding: 45px 0;
}
.ikd-cg-navigation {
    position: relative;
    padding: 20px 20px;
    min-height: 390px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 10%);
}
.bg-image{
    position: absolute;
    left: -20px;
    right: -20px;
    top: 0;
    bottom: 0;
    background-image: url(../images/menu-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    display: none;
}
.navigation-child{
    position: relative;
}
.menu-mobile{
    position: absolute;
    right: -14px;
    text-align: right;
    top: -98px;
    background-image: url(https://resources.ilmkidunya.com/ikd-guides/assets/images/gif-bg.png);
    height: 124px;
    width: 173px;
}
.ikd-cg-navigation ul li a .child {
    text-align: center;
    padding: 5px;
}
.ikd-cg-navigation ul {
    display: flex;
    flex-flow: wrap;
}
ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}
.ikd-cg-navigation ul li {
    width: 33.33%;
    padding: 5px;
}
li {
    list-style: none;
}
.ikd-cg-navigation ul li a {
    display: flex;
    height: 90px;
    border: 1px solid rgb(9 117 173 / 50%);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f5fbff;
}
a, a:active, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
.ikd-cg-navigation ul li a:hover {
    color: #000;
    background-color: #83c928;
}
a {
    color: #242424;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    cursor: pointer;
}
.ikd-cg-navigation ul li a img {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.ikd-cg-navigation ul li a span {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    word-break: break-word;
    display: inline-block;
}
.ikd-cg-navigation ul li a .child {
    text-align: center;
    padding: 5px;
}
.ikd-cg-banner-wrapper p.banner-desc {
    font-size: 16px;
    line-height: 20px;
}
.right-side-ad-one, .right-side-ad-two, .right-side-ad-three, .right-side-ad-four{
    margin: 20px auto 0 auto;
}
.ikd-cg-navigation h2{
    color: #080808;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.homeNewsList h2{
    color: #080808;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    text-align: left;
}
.homeNewsList{
    margin: 20px 32px 0;
}
.homeNewsList ul {
    margin: 0;
    list-style: none!important;
    padding: 0!important;
}
.homeNewsList ul li {
    padding: 7px 0;
    list-style: none!important;
}
.homeNewsList ul li a {
    display: flex;
}
.homeNewsList-fique {
    width: 120px;
    flex: 0 0 120px;
    height: 90px;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.homeNewsList-author {
    text-align: left;
}
.homeNewsList-fique .child {
    height: 100%;
    width: 100%;
    background-position: center;
}
.homeNewsList-author span {
    color: #676767;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.homeNewsList-author p {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.cg-guide-quizzes {
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    position: relative;
    padding: 0 0 20px;
}
.cg-quiz-wrapper {
    text-align: center;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 30px 0;
    background: #facf00 url(http://resources.ilmkidunya.com/images/quize/quize-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    max-width: 300px;
}
.cg-guide-quizzes figure {
    margin: 0;
    text-align: center;
}
.cg-guide-quizzes .cg-quiz-btn-default {
    background-color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    padding: 7px 30px;
    border-radius: 7px;
}
.cg-quiz-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.cg-guide-content {
    margin-bottom: 20px;
}
.cg-guide-content p {
    font-weight: normal;
    word-break: break-word;
}
.cg-guide-content ul li a, .cg-guide-content p a{
    color: #39f;
}
p {
    font-size: 16px;
    color: #000;
    line-height: 26px;
}
.cg-guide-content h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: bold;
}
.cg-table-search {
    background-color: #f4f4f4;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.cg-table-search span {
    font-size: 17px;
}
.cg-guide-content span {
    word-break: break-word;
}
.cg-table-search select {
    background-color: #fff;
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 17px;
    width: 190px;
    border: 0;
}
.cg-table-search .cg-btn-search {
    box-shadow: none;
    padding: 5px 20px;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    background: #83c928;
    border-radius: 0;
    outline: 0;
    border: 0;
    text-align: center;
}
.cg-guide-content .cg-resp-table, .chapter-table {
    overflow-x: auto;
    margin-bottom: 20px;
    width: 100%;
}
.cg-chapter-table table, .cg-guide-content table{
    min-width: 100%;
    border-collapse: collapse;
    width: max-content;
}
.mdcat-table table tr {
    border-bottom: 1px solid #eee;
}
.mdcat-table table tr td {
    border: 0;
    padding: 5px 20px 5px;
}
.tbldata {
    display: flex;
}
.mdcat-table table tr td .figue {
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    overflow: hidden;
}
.mdcat-table table tr td .figue img {
    margin: 0;
    width: auto !important;
    height: auto !important;
}
.mdcat-table table tr td .content {
    margin: auto 10px;
}
.mdcat-table table tbody td span {
    font-size: 17px;
    color: #000;
    vertical-align: -webkit-baseline-middle;
    padding: 10px 0;
    display: inline-block;
}
.mdcat .load-more {
    text-align: center;
    padding: 20px 0;
}
.mdcat .btn-load-more {
    box-shadow: none;
    padding: 15px 20px;
    color: #eee;
    font-size: 17px;
    text-transform: capitalize;
    background: #434343;
    border-radius: 5px;
    outline: 0;
    border: 0;
    display: inline-block;
}
@media screen and (min-width: 992px){
    .ikd-cg-navigation{
        margin-top: -370px;
    }
}
